body {
    margin: 0;
    background-color: #1c1e1f !important;
}

.account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: #d7d9db;
}
