.forgotPassPage{
    background-color: #17181f !important;
    height: 100vh !important;
}


.forgotPassContainer{
    display: flex;
    align-items: center;
    justify-self: center;
    margin-left: 35vw !important;
}

.forgotPassForm{
    color: #fdfdfd !important ;
    width: 30vw !important;
    height: 60vh !important;
    border: 2px whitesmoke solid!important;
    margin-top: 110px;
}

#email{
    font-size: 15px !important;
    padding: 10px;
    margin: 10px;
}
.resetBtn{
    background-color: #fb72a5 !important;
    border-radius: 10px !important;
    margin-left: 5vw !important;
    height: 5vh !important;
    width: 20vw !important;
    font-weight: bold;
    color: #fee0f6 !important;
}


.resetTitle{
    padding-top: 1vw !important;
    margin-top: 1vw !important;
    font-size: 60px !important;
    margin-left: 1vw !important;
}

.resetLink{
    color: whitesmoke !important;
    text-decoration: underline !important;
    font-size: 30px !important;
}