.member {
    background-color: #22262b;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: transform .5s;
    padding: 30px 15px;
    height: 65vh;
}

.member{
    color: white;
}

.items {
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    color: white;
}

.items p{
    padding: 5px;
    margin-left: 4px;
}

.items li {
    padding: 0;
}

.member:hover {
    transform: scale(1.07);
    
}

.item {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    
}

.button {
    background-color: #fb72a5 !important;
    border-radius: 10px !important;
    border: none;
    color: white;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    transition: transform .5s;
  }

.button:hover {
    transform: scale(1.08);
    background-color: white;

}