body{
    margin: 0;

  }
.MemberMain{
  background-color: #161819;
}

.Membership {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.memberTitle{
  margin-top: 25px !important;
  margin-bottom: 10px ;
  font-size: 50px;
}

.faqTitle{
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 35px;
}

.types {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.questions{
  margin-bottom: 30px;
}


