.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #22262b;
    padding-left: 30px;
    width: 45%;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.profile p {
    color: #bdbdbd;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #edeff3;
    padding-bottom: 5px;
    padding-top: 10px;
}

.icon {
    color: grey;
    size: 20px;
    padding-left: 10px;
}

.items {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
}

.seconditem p {
    color: black;
}

.seconditem {
    padding-left: 35px;
}

.firstitem p{
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px;
}




