.transaction {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.transaction p {
    flex: 0.25;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

